*.out
*.pid
*.gz
*.swp

# API keys and secrets
.env*

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode
.terraform
.terraform.lock.hcl
terraform.tfstate*

package-lock.json