/* ----------- CSS RESET -------------- */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ------------------------- */

/* --- Other Root changes --- */

html, body {
  height: 100%;
}

/* --- Variables --- */

:root {
  --main-bg-color: #D1AAC8;
  --primary-color:  #77AE6F;
  --text-1-color: #504DFF;
  --text-2-color: #0090CD;
  --text-3-color: #ED4C7F;
  --text-4-color: #524944;
}

/* --- General Settings --- */

body {
  color: var(--text-4-color);
  background-color: var(--main-bg-color);
  font-family: "Solway", serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Calistoga", serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1, h2 {
  color: var(--text-1-color)
}

h3, h4, h5 {
  color: var(--text-2-color)
}

a {
  color: var(--text-4-color); 
}

.flex-container {
  display: flex;
  height: 100%;
  align-content: space-around;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

/* Instead of putting justify-content on the app-container, this prevents the text from escaping out the top */
#app-container > :first-child {
  margin-top: auto;
}

#app-container > :last-child {
  margin-bottom: auto;
}

main.flex-container {
  width: calc(90vw - 1rem);
}

/* --- nav --- */

nav {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  align-self: flex-start;
}

nav .links {
  padding: 3ch;
}

nav .links a {
  text-decoration: none;
}

nav .links a:visited {
  color: var(--text-4-color); 
}

/* --- footer --- */

footer {
  padding: 5ch;
}

footer {
  align-self: flex-start;
}

/* --- input --- */
input,
textarea {
  border: 1px solid #29BF12;
  background-color: var(--text-4-color);
  color: white;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

input:focus-visible,
textarea:focus-visible {
  border: 1px solid #29BF12;
  outline: 0;
}

/* --- Home Page --- */

#home-page {
  display: flex;
  justify-content: center;
}

#home-page h1 {
  align-self: center;
  text-transform: uppercase;
  padding: 1rem;
}

#home-page h1::before {
  background-image: url("../img/web_pink.png");
  position: absolute;
  background-size: 1.2em 1.2em;
  display: inline-block;
  width: 1.2em; 
  height: 1.2em;
  content:"";
  translate: -1em 1em;
  z-index: -1;
}

.hanging-spider::after {
  background-image: url("../img/greyGreen_spider.png");
  position: absolute;
  background-size: 1.7em 1.7em;
  display: inline-block;
  width: 1.7em; 
  height: 1.7em;
  content:"";
  translate: -1.2em 1em;
  z-index: -1;
}

/* --- Info page --- */

#info-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Header isn't part of the main thing called an info page? */
header:has(+ #info-page) h2 {
  align-self: center;
  padding: 0.5rem 1rem;
}

header:has(+ #info-page) h2::after,
header:has(+ #info-page) h2::before {
  content: "🎉";
}

/* --- Question page --- */
header:has(+ #question-page):first-child {
  margin-top: 2rem;
  margin-bottom: auto;
}

#question-page textarea {
  width: 80%;
  resize: none;
}