<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Congratulations!</title>
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        #email {
            font-weight: bold;
        }
        #top-left-image {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        #bottom-right-image {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    </style>
</head>
<header>
    <a href="#"><button id="back-to-home" style="position: absolute; top: 20px; right: 20px;">BACK TO HOME</button></a> 
    <img id="top-left-image" width="150px" height="150px"src="../img/grumpyPurp_spider.png" alt="Top Left Image">
</header>
<body>
    <div class="container">
        <h1>Congrats!</h1>
        <p>You found your soulmate!!</p>
        <p>Here is their personal information so you can find them:</p>
        <p>Email Address: <span id="email">example@example.com</span></p>
    </div>
</body>
</html>
