<body>
  <header>
    <h2>Round <span id="round-id">1</span>:</h2>
  </header>
  <main id="dating-page" class="flex-container flex-column">
    <span id="dating-question" class="outlined-box">
        Why did my HTML not load correctly?
    </span>
    <span id="answer-bubble" class="outlined-box">
      Hello :)
    </span>
    <div id="spider-container">
      <p class="flex-container flex-column flex-center-column">
        :( Sorry No one is participating
      </p>
    </div>
  </main>
  <script type="module">
    import {DataService} from "./lib/data-service.js";
    import {Utils} from "./lib/utils.js";
    
    let questions = window.questions || await DataService.getQuestions()
    let userAnswers;
    let questionDisplay = document.getElementById("dating-question");
    let questionNumberDisplay = document.getElementById("round-id");
    let questionNumber = 0;
    let eatenUsers = 0;
    let container = document.getElementById("spider-container");
    let complete = false;
    const requestOptions = {
      method: 'GET',
      headers: {
        'Authorization': localStorage.getItem("jwt")
      }
    };
    function EatBug(clickedId) {
      eatenUsers += 1;
      var element = document.getElementById(clickedId);
      console.log("You clicked on", clickedId);
      element.style.setProperty("display", "none");
      questionNumber += 1;
      updateQuestion();
      if(questionNumber === questions.length - 1 || (userAnswers.length - eatenUsers < 1)) {
        let buttonNumber = clickedId.split("-")[1];
        var answerElement = document.getElementById("answer-bubble");
        answerElement.textContent = "You found: " + userAnswers[buttonNumber].email;
        console.log(answerElement.textContent);
        complete = true;
      }
    }
    function removeRemainingSpiders(choosenId){
      for(let child of container.children) {
        if(child.id === choosenId) continue;
        else child.style.setProperty("display", "none");
      }
    }
    function SetSpiderAnswer(spiderId){
      const buttonNumber = spiderId.split("-")[1];
      let spidersAnswer = userAnswers[buttonNumber].answers[questionNumber];
      var answerElement = document.getElementById("answer-bubble");
      answerElement.textContent = spidersAnswer;
    }
    function HideAnswer(){
      if (!complete) {
        var answerElement = document.getElementById("answer-bubble");
        answerElement.textContent = "";
      }
    }
    async function GetUserAnswers(){
      fetch(`${Utils.apiURL()}/api/answers/random`, requestOptions)
      .then(response => {
        if (!response.ok) {
          throw new Error(response);
        }

        return response.json();
      })
      .then(responseBody => {
        userAnswers = responseBody;
      })
      .catch(error => {
        console.error('There was a problem with the fetch operation:', error);
      });
    }
    function updateQuestion(){
      questionDisplay.textContent = questions[questionNumber].question;
      questionNumberDisplay.textContent = questionNumber + 1;
    }
    async function initialize(){
      updateQuestion();
      // Load users with their answers
      await GetUserAnswers();
      if (!Utils.isNullOrUndefined(userAnswers) && userAnswers.length > 0) {
        let removeChildren = true;
        for(let idx=0; idx < userAnswers.length; idx++) {
          if (removeChildren) {
            Utils.removeElementIdChildren(container);
            removeChildren = false;
          }
          container.appendChild(createSpiderButton(idx));
        }
      }
      // Foreach answer insert template
    }
    function createSpiderButton(idx) {
      let button = document.createElement("button");
      button.id = `spider-${idx}`;
      button.class="spider-button";
      button.addEventListener("click", (e) => {EatBug(`${button.id}`)});
      button.addEventListener("mouseover", (e) => {SetSpiderAnswer(`${button.id}`)});
      button.addEventListener("mouseout", HideAnswer);
      button.appendChild(createSpiderImage());
      return button
    }
    function createSpiderImage() {
      let img = document.createElement("img");
      img.src="../img/greyGreen_spider.png";
      img.width="100";
      img.height="100";
      return img;
    }
    initialize();
  </script>

  <footer> 
    <button>BACK TO HOME</button>
  </footer>
</body>
