<body>
    <header>
        <h2>just a few more questions!</h2>
    </header>
    <main id="dating-info" class="flex-container flex-column flex-center-column">
        <div id="alex-pic">
            <img width="350px" height="350px" src="../img/alex_pic.png"/>
            <div>
                <p><strong>Alexander Kruger</strong></p>
                <p>Junior Software Engineer, Trusted Advisor, Just A Great Guy</p>
            </div>
        </div>
        <p>We searched for a person who'd have the ability to determine 8 questions whose answers would help one find their soulmate. BBD's Alexander Kruger was the man for this job! He specially curated these intensive, mind opening & soul searching questions just for SpideySpeedDating. Are you ready to dive deeper into yourself and find your one true love?</p>
    </main>
    <footer> 
        <a href="#"><button>BACK TO HOME</button></a>
        <a href="#question"><button>let's hear your answers!</button></a>
    </footer>
</body>
