<body>
  <header>
    <h2>Round <span id="round-id">1</span>:</h2>
  </header>
  <main id="dating-page" class="flex-container flex-column">
    <span id="dating-question" class="outlined-box">
        Why did my HTML not load correctly?
    </span>
    <span id="answer-bubble" class="outlined-box">
      Hello :)
    </span>
    <div id="spider-container">
      <p class="flex-container flex-column flex-center-column">
        :( Sorry No one is participating
      </p>
    </div>
  </main>
  <script type="module">
    import {DataService} from "./lib/data-service.js";
    import {Utils} from "./lib/utils.js";
    
    let questions = window.questions || await DataService.getQuestions()
    let userAnswers;
    let questionNumber = 0;
    console.log(questions)

    const requestOptions = {
      method: 'GET',
      headers: {
        'Authorization': ''
      }
    };

    function EatBug(clickedId) {
      if(questionNumber === 7){
        const buttonNumber = clickedId.split("-")[1];
        
        var answerElement = document.getElementById("answer-bubble");
        answerElement.textContent = "You found: " + userAnswers[buttonNumber].email;
      }

      var element = document.getElementById(clickedId);
      console.log("You clicked on", clickedId);
      element.style.setProperty("display", "none");

      questionNumber += 1;
    }

    function SetSpiderAnswer(spiderId){
      const buttonNumber = spiderId.split("-")[1];
      let spidersAnswer = userAnswers[buttonNumber].answers[questionNumber];
      var answerElement = document.getElementById("answer-bubble");
      answerElement.textContent = spidersAnswer;
    }

    function HideAnswer(){
      var answerElement = document.getElementById("answer-bubble");

      answerElement.textContent = "";
    }

    async function GetUserAnswers(){
      userAnswers = {
        email: "user@emil.com",
        answers: [
          "Answer", "Answer but 2"
        ]
      }
      // fetch(`${Utils.apiURL()}/api/answers/random`, requestOptions)
      // .then(response => {
      //   if (!response.ok) {
      //     throw new Error(response);
      //   }

      //   return response.json();
      // })
      // .then(responseBody => {
      //   userAnswers = responseBody;
      // })
      // .catch(error => {
      //   console.error('There was a problem with the fetch operation:', error);
      // });
    }

    async function initialize(){
      // Load the first question
      let questionDisplay = document.getElementById("dating-question");
      questionDisplay.textContent = questions[questionNumber].question;
      // Load answers
      await GetUserAnswers();
      console.log()
      if (!Utils.isNullOrUndefined(userAnswers) && userAnswers["answers"].length > 0) {
        let template = document.getElementById("spider-button-template-parent");
        let container = document.getElementById("spider-container");
        let removeChildren = true;
        for(let idx=0; idx < userAnswers["answers"].length; idx++) {
          if (removeChildren) {
            Utils.removeElementIdChildren(container);
            removeChildren = false;
          }
          container.appendChild(createSpiderButton(idx));
        }
      }
      // Foreach answer insert template
    }

    function createSpiderButton(idx) {
      let button = document.createElement("button");
      button.id = `spider-${idx}`;
      button.class="spider-button";
      button.addEventListener("click", (e) => {EatBug(`${button.id}`)});
      button.addEventListener("onmouseover", (e) => {SetSpiderAnswer(`${button.id}`)});
      button.addEventListener("onmouseout", HideAnswer);
      button.appendChild(createSpiderImage());
      return button
    }

    function createSpiderImage() {
      let img = document.createElement("img");
      img.src="../img/greyGreen_spider.png";
      img.width="100px";
      img.height="100px";
      return img;
    }

    initialize();
  </script>

  <footer> 
    <button>BACK TO HOME</button>
  </footer>
</body>
