<header>
  <h2>Round <span id="round-id">1</span>:</h2>
</header>
<main id="dating-page" class="flex-container flex-column">
  <span id="dating-question" class="question-box">
      Were you breastfed as a child?
  </span>
  <div id="spider-container">
    <!-- TODO: Place Spiders *randomly* -->
    <button id="spider-1" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-2" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-3" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-4" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-5" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-6" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-7" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
    <button id="spider-8" class="spider-button">
      <img width="100px" height="100px" src="../img/greyGreen_spider.png">
    </button>
  </div>
</main>