<body>
  <div class="flex-container flex-column flex-justify-space-between">
    <nav>
      <img id="logo" src="img/logo.png" width="115" height="102" />
      <div class="links">
        <a href="#login" id="github-login">Login with GitHub</a>
      </div>
    </nav>
    <main id="home-page">
      <h1>Welcome to Spidey Spee<span class="hanging-spider">d</span> Dating!</h1>
    </main>
    <footer>
      <a href="#info">Not sure how it works? Click here!</a>
      <a href="#intro-questions"><button>next page</button></a>
    </footer>
  </div>
  <script>
    function navigateToGithubLogin(event) {
      event.preventDefault();
      console.log("hi");
      window.location.href = `https://github.com/login/oauth/authorize?client_id=Ov23li96pnWfFYn2p8gE`;
    }

    let github_login = document.getElementById("github-login");
    console.log(github_login);
    github_login.addEventListener('click', navigateToGithubLogin);
  </script>
</body>
