<body>
  <div class="flex-container flex-column flex-justify-space-between">
    <nav id="home-page-nav">
      <img id="logo" src="img/logo.png" width="115" height="102" />
      <div class="links">
        <a href="#" id="github-login"><button>Login with GitHub</button></a>
        <a href="#" id="logout" style="display: none;"><button>Logout</button></a>
      </div>
    </nav>
    <main id="home-page" class="flex-container flex-column flex-justify-space-between">
      <h1>Welcome to Spidey Spee<span class="hanging-spider">d</span>Dating!</h1>
      <span id="index-message" style="display: none;"></span>
    </main>
    <footer>
      <a href="#info">Not sure how it works? Click here!</a>
      <nav id="main-page-logged-in-links" style="display: none;" class="flex-container">
        <a href="#intro-questions"><button>User Questions</button></a>
        <a href="#question"><button>Dating Questions</button></a>
      </nav>
    </footer>
  </div>

  <script type="module">
    import {Utils} from "/lib/utils.js";

    async function navigateToGithubLogin(event) {
      event.preventDefault();
      let messageElement = document.getElementById("index-message");
      fetch(Utils.apiURL() + "/auth/generate_link").then((response) => {
        if (!response.ok) {
          messageElement.style.display = "block";
          messageElement.textContent = "Error from API! " + response.status + ": " + response.statusText;
        } else {
          response.json().then((data) => {
            messageElement.style.display = "none";
            window.location.href = data.url;
          }).catch(() => {
            messageElement.style.display = "block";
            messageElement.textContent = "JSON response from server was bad!";
          });
        }
      }).catch((err) => {
        messageElement.style.display = "block";
        messageElement.textContent = "Could not contact server!";
      });
    }

    let github_login = document.getElementById("github-login");
    github_login.addEventListener('click', navigateToGithubLogin);
  </script>

  <script type="module">
    import {Utils} from "/lib/utils.js";
    let jwt = localStorage.getItem("jwt")
    if (jwt != null) {
      let options = {
        headers: {
          "Authorization" : jwt
        }
      }
      fetch(Utils.apiURL() + "/auth/verify", options).then((response) => {
        if (response.ok) {
          let github_login = document.getElementById("github-login");
          github_login.style.display = "none";
          let main_page_logged_in_links = document.getElementById("main-page-logged-in-links");
          main_page_logged_in_links.style.display = "flex";
          let logout = document.getElementById("logout");
          logout.style.display = "block";
        }
      });
    }
  </script>

  <script type="module">
    function logoutUser() {
      localStorage.removeItem("jwt");
      let github_login = document.getElementById("github-login");
      let main_page_logged_in_links = document.getElementById("main-page-logged-in-links");
      github_login.style.display = "block";
      logout.style.display = "none";
      main_page_logged_in_links.style.display = "none";
    }

    let logout = document.getElementById("logout");
    logout.addEventListener('click', logoutUser);
  </script>

  <script type="module">
    let searchParams = new URLSearchParams(window.location.search);
    if (searchParams.size != 0) {
      window.location.search = "";
    }
  </script>

  <script type="module">
    import { Utils } from "/lib/utils.js";
    let indexMessage = localStorage.getItem(Utils.indexMessage);
    if (indexMessage != null) {
      let messageElement = document.getElementById("index-message");
      messageElement.style.display = "block";
      messageElement.textContent = indexMessage;
      localStorage.removeItem(Utils.indexMessage);
    }
  </script>
</body>
