<header>
  <h2>Welcome to our dating platform!</h2>
</header>
<main id="info-page" class="flex-container flex-column flex-center-column">
  <p>Here's a quick guide on how everything works:</p>
  <ol>
    <li>Create Your Profile: First things first, set up your profile! Tell us about yourself, and answer some fun questions. Once you're done, hit that "Create Profile" button.</li>
    <li>Get Ready to Date: Once your profile is set, you're ready to dive into the dating world! Click on the "Start Dating" button to begin.</li>
    <li>Meet the "Insects": In the dating game, you'll find yourself in a web with other users represented as insects. Don't worry, it's all in good fun! Each "round" will present a question, and you'll see the answers from the other users.</li>
    <li>Navigate the Web: The spider, that's you, will eliminate one insect at a time based on their answers. It's kind of like a game of elimination! 🕷️ Bye-bye bugs!</li>
    <li>Find Your Match: As the rounds progress, users will be eliminated until there's only one left standing. The spider, that's still you, will then get the remaining user's info, like email address.</li>
  </ol>
  <p>And that's it! It's a fun way to meet new people and see who you vibe with. So go ahead, give it a try and see who you catch in your web! 🕸️</p>
</main>
<footer> 

<button>BACK TO HOME PAGE</button>

</footer>