<body>
  <header>
    <h2>Tell us about yourself!</h2>
  </header>
  <main id="intro-questions" class="flex-container flex-column flex-center-column">
    <form id="intro-questions-form">
      <span id="users-name-box">
        <label for="users-name">What's your name?</label>
        <input id="users-name" required="true"/>
      </span>

      <span id="users-email-box">
        <label for="users-email">What email do you want to use to be contacted at?</label>
        <input id="users-email" type="email"/>
      </span>
  
      <span id="users-age-box">
        <label for="users-age">How old are you?</label>
        <input id="users-age" type="number" min="18" max="99" required="true" />
      </span>
  
      <span id="users-gender-box">
        <label for="users-gender">How do you identify your gender?</label>
        <select id="users-gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </span>
  
      <span id="users-orientation-box">
        <label for="users-orientation">What's your sexual orientation?</label>
        <select id="users-orientation">
          <option value="straight">Straight</option>
          <option value="gay">Gay</option>
          <option value="other">Other</option>
        </select>
      </span>
  
      <button type="submit">Submit</button>
    </form>
  </main>
  <footer>
    <a href="#"><button>Back to Home</button></a>
  </footer>
  <script type="module">
    import { Utils } from "/lib/utils.js";

    let options = {
        headers: {
          Authorization: localStorage.getItem("jwt")
        }
      }
    fetch(Utils.apiURL() + "/api/users/", options).then((res) => {
      if (res.ok) {
        res.json().then((data) => {
          document.getElementById("users-name").value = data["username"] || "";
          document.getElementById("users-email").value = data["email"] == "Email not available" ? "" : data["email"];
          document.getElementById("users-age").value = data["age"] || "";
          document.getElementById("users-gender").value = data["gender"] || "male";
          document.getElementById("users-orientation").value = data["sexuality"] || "straight";
        }).catch((err) => {
          displayMessage("Failed to parse JSON response");
          console.error("Couldn't set question values from API:\n", err);
        });
      } else {
        displayMessage("Failed to load user data. Try loggin in again.");
      }
    }).catch((err) => {
      displayMessage("Couldn't reach API while retrieving user data!\n" + err);
    });

    function submitForm(e) {

      let usersName = document.getElementById("users-name").value;
      let usersEmail = document.getElementById("users-email").value;
      let usersAge = document.getElementById("users-age").value;
      let usersGender = document.getElementById("users-gender").value;
      let usersOrientation = document.getElementById("users-orientation").value;

      let options = {
        method: "PUT",
        body: JSON.stringify({
            "username": usersName,
            "email": usersEmail,
            "gender": usersGender,
            "sexuality": usersOrientation,
            "age": usersAge
        }),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
          Authorization: localStorage.getItem("jwt")
        }
      }
      fetch(Utils.apiURL() + "/api/users/update", options).then((res) => {
        if (res.ok) {
          displayMessage("Success! On to the next page you go!");
          window.location.href = "#dating-info";
        } else {
          displayMessage("Failed! Here's what we know: (intentionally left blank)");
        }
      }).catch((err) => {
        displayMessage("Big boy error!\n" + err);
      });
    }

    function displayMessage(msg) {
      let messageElement = document.getElementById("message");
      if (messageElement == null) {
        const mainBody = document.getElementById("intro-questions");
        if (mainBody == null) return;
        messageElement = document.createElement("p");
        messageElement.id = "message";
        mainBody.prepend(messageElement);
      }
      messageElement.textContent = msg;
    }
    
    let form = document.getElementById("intro-questions-form");
    form.addEventListener('submit', submitForm);
  </script>
</body>