<body>
  <header>
    <h2>Tell us about yourself!</h2>
  </header>
  <main id="intro-questions">
    <form id="intro-questions-form">
      <span id="users-name-box">
        <label for="users-name">What's your name?</label>
        <input id="users-name"/>
      </span>
  
      <span id="users-age-box">
        <label for="users-age">How old are you?</label>
        <input id="users-age" type="number"/>
      </span>
  
      <span id="users-gender-box">
        <label for="users-gender">How do you identify your gender?</label>
        <select id="users-gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </span>
  
      <span id="users-orientation-box">
        <label for="users-orientation">What's your sexual orientation?</label>
        <select id="users-orientation">
          <option value="straight">Straight</option>
          <option value="gay">Gay</option>
          <option value="other">Other</option>
        </select>
      </span>
  
      <button type="submit">Submit</button>
    </form>
  </main>
  <footer>
    <a href="#"><button>Back to Home</button></a>
  </footer>
  <script>
    function submitForm(e) {

      usersName = document.getElementById("users-name").value;
      usersAge = document.getElementById("users-age").value;
      usersGender = document.getElementById("users-gender").value;
      usersOrientation = document.getElementById("users-orientation").value;

      let options = {
        method: "POST",
        body: {
            "username": usersName,
            "gender": usersGender,
            "sexuality": usersOrientation,
            "age": usersAge
        }
      }
      window.location.href = "#dating-info";
    }
    
    form = document.getElementById("intro-questions-form");
    form.addEventListener('submit', submitForm);
  </script>
</body>