<body>
  <h1>Login Page!</h1>

  <script>
    console.log("loaded");
    const urlParams = new URLSearchParams(window.location.search);
    const code = urlParams.get("code");

    const client_id = "your-client-id";
    const client_secret = "your-client-secret";
    const redirect_uri = "http://localhost:3000/#login";

    const githubRequestOptions = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },
        body: JSON.stringify({
            client_id,
            client_secret,
            code,
            redirect_uri
        })
    };

    console.log("fetching");
    fetch('https://github.com/login/oauth/access_token', githubRequestOptions)
    .then(response => response.json())
    .then(data => {
        const accessToken = data.access_token;
        console.log("Access Token:", accessToken);

        const apiRequestOptions = {
            method: "GET",
            headers: {
                "Authorization": `Bearer ${accessToken}`
            }
        };

        fetch("http://ec2-3-252-74-206.eu-west-1.compute.amazonaws.com/auth", apiRequestOptions)
        .then(response => {
            console.log(response);
        })
        .catch(error => console.error("Error fetching API:", error));
    })
    .catch(error => console.error("Error fetching access token:", error));
</script>

</body>