<body>
  <header>
    <h2>Question <span id="question-id">1</span>:</h2>
  </header>
  <main id="question-page" class="flex-container flex-column flex-justify-center">
    <form id="question-form" class="flex-container flex-column flex-justify-center">
      <label id="question-label" for="question-id">Were you breastfed as a child?</label>
      <textarea id="question-input" maxlength="150"> </textarea>
    </form>

  </main>
  <footer>
    <a href="#"><button>Back to Home</button></a>
    <button id="question-footer-button">Next Question</button> 
  </footer>
  <script type="module">
    import {Utils} from "./lib/utils.js";
    import {Router} from "./lib/router.js";
    import {DataService} from "/lib/data-service.js";
    function resizeTextArea() {
      let textarea = document.getElementById("question-input");
      textarea.style.height = "";
      textarea.style.height = textarea.scrollHeight + 2 + "px";
    }
    async function getQuestions() {
      if (!await Router.isValidSession()) {
        Router.loginRedirect("question", "Session expired, please login");
      } else {
        if (window.questions === undefined || window.questions === null) {
          window.questions = await DataService.getQuestions();
          window.currQuestionIdx = 0;
        }
        renderCurrentQuestion();
      }
    }
    async function updateToNextQuestion(e) {
      e.preventDefault();
      let answer = textarea.value;
      if (answer === "" || answer === undefined) return;
      let shouldUpdateQuestion = await postAnswer(answer);
    }
    function updateQuestion() {
      if (currQuestionIdx < questions.length - 1) {
        currQuestionIdx += 1;
        renderCurrentQuestion();
      } else {
        window.location.href = "#dating-screen";
      }
    }
    function renderCurrentQuestion() {
      let questionLabel = document.getElementById("question-label");
      questionLabel.textContent = window.questions[window.currQuestionIdx].question;
      questionId.textContent = currQuestionIdx + 1;
      textarea.value = "";
    }
    async function postAnswer(answer) {
      await fetch(`${Utils.apiURL()}/api/answers/create`, {
        method: "POST",
        body: JSON.stringify({
          question_id: questions[window.currQuestionIdx].question_id,
          answer: answer
      }),
        headers: {
          "Content-type": "application/json; charset=UTF-8",
          "Authorization": localStorage.getItem("jwt")
        }
      }).then((response) => { 
        if (response.status === 200) updateQuestion()
        else alert("Failed to post answer");
      });
    }
    let textarea = document.getElementById("question-input");
    textarea.addEventListener("input", resizeTextArea);
    window.addEventListener("resize", resizeTextArea);
    window.addEventListener("hashchange", () => {
      window.removeEventListener("resize", resizeTextArea)
    }, {once: true});
    
    let questionId = document.getElementById("question-id");
    
    let form = document.getElementById("question-form");
    form.addEventListener("submit", updateToNextQuestion);
    
    let nextButton = document.getElementById("question-footer-button");
    nextButton.addEventListener("click", updateToNextQuestion)
    
    await getQuestions()

  </script>
</body>