<body>
  <header>
    <h2>Question <span id="question-id">1</span>:</h2>
  </header>
  <main id="question-page" class="flex-container flex-column flex-justify-center">
    <form id="question-form" class="flex-container flex-column flex-justify-center">
      <label id="question-label" for="question-id">Were you breastfed as a child?</label>
      <textarea id="question-input" maxlength="150"> </textarea>
      <button id="question-form-button" type="submit">Next Question</button>
    </form>

  </main>
  <footer>
    <a href="#"><button>BACK TO HOME</button></a>
    <button>NEXT QUESTION</button> 
  </footer>
  <script>
    function resizeTextArea() {
      textarea = document.getElementById("question-input");
      textarea.style.height = "";
      textarea.style.height = textarea.scrollHeight + 2 + "px";
    }
    console.log("Loaded!");

    textarea = document.getElementById("question-input");
    textarea.addEventListener("input", resizeTextArea);
    window.addEventListener("resize", resizeTextArea);
  </script>
</body>